@{
    ViewBag.Title = "Home Page";
}

@section featured
    {
    <div class="hero-unit" style="text-align:center">
        <h1>Βρες τώρα στην Ελλάδα, το μεταπτυχιακό πρόγραμμα που σου ταιριάζει.</h1>
    </div>
}
